/* Custom CSS styles */
:root {
    /* Define color variables */
    --primary-color: rgb(116, 6, 120);
    --primary-color-faded: rgba(116, 6, 120, 0.523);
    --normal-color: #3a3a3a;
    --normal-color-faded: #3a3a3a7e;
    --new-color: #73b649;
    --new-color-faded: #73b64983;
    --favorite-color: rgba(204, 49, 49);
    --favorite-color-faded: rgba(204, 49, 49, 0.473);
}

.profile-box {
    border: 5px solid var(--normal-color);
    border-radius: 20px;
}


/* For new clubs in index.html */
.bg-new{
    background-color: var(--new-color-faded) !important;
    /* border: 5px solid #208642 !important; 
    border-radius: 0.25rem !important; 
    box-sizing: border-box; */
    transition: background-color 5s ease; 
}

.bg-new:hover{
    background-color: var(--new-color) !important;
}

.bg-normal {
    /* border: 5px solid rgb(60, 59, 59) !important; 
    border-radius: 0.25rem !important; 
    box-sizing: border-box; */
    background-color: var(--primary-color-faded) !important;
    transition: background-color 5s ease; 
    border-color: var(--primary-color);
}

.bg-display-box {
    background-color: var(--primary-color) !important;
}

.bg-normal:hover {
    background-color: var(--primary-color) !important;
}

/* For favorites in index.html */
.bg-favorite {
    /* border: 5px solid rgb(172, 119, 34) !important; 
    border-radius: 0.25rem !important; 
    box-sizing: border-box; */
    background-color: var(--favorite-color-faded) !important;
    transition: background-color 5s ease; 
}

.bg-favorite:hover {
    background-color: var(--favorite-color) !important;
}

.list-group-item-action.active {
    background-color: var(--primary-color) !important;
}

/* FOR NAVBAR */

.bg-custom {
    background-color: var(--primary-color-faded);
    transition: background-color 5s ease; 
}

.bg-custom:hover {
    background-color: var(--primary-color);
}

html {
    overflow-y: scroll; /* Always show vertical scrollbar */
}

/* FOR PROFILE PICTURES via ChatGPT */
.profile-picture-container {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    overflow: hidden;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color-faded);
}
.profile-picture {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}
.profile-picture-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}


.text-truncate-1-line {
    max-width: 100% !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.text-truncate-2-lines {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-line-clamp: 2;
    height: 2.5em; 
    overflow: hidden;
    text-overflow: ellipsis;
    hyphens: auto;
    overflow-wrap: break-word;
    word-wrap: break-word; 
    white-space: normal; 
    max-width: 100%;
}

.custom-dropdown {
    width: 10px;
}

.mb-3 label {
    text-align: left;
    display: block;
    font-style: italic;
    font-weight: 900;
}

.space-ontop {
    margin-top: 50px !important;
    
}


.space-below {
    margin-bottom: 100px !important;
}

.img-member {
    height: 20px; 
    width: auto;
    display: block; 
}

.btn-link {
    padding: 0 !important;
}

.img-edit {
    max-height: 30px; 
    width: auto;
    display: block; 
}

.manage-container{
    padding: 40px 0 200px 0 !important;
    margin-right: 20px;
}

.subtitle {
    padding-bottom: 0px;
    padding-top: 50px;
}

.title {
    padding-top: 10px !important;
    padding-bottom: 0px !important;
}

.card-container {
    max-width: 230px !important;	
}

.custom-card-col {
    margin-right: 0 !important; 
    width: auto !important;
}

.club-row {
    border: 1px solid var(--normal-color);
    height: 40px;
    margin-bottom: 20px;
    padding: 5px 5px 5px 5px;
    margin-left: 0px !important;
}

.club-img {
    max-height: 30px; 
    width: auto;
    margin: auto auto;
}

.navbar-brand{
    font-size: 40px !important;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
}

.navbar-nav .nav-link {
    /* padding: 0.5rem 1rem !important; */
    font-size: 22px !important;
    ;
}

.navbar-toggler {
    padding: 0.25rem 0.5rem;
    font-size: 1.5rem;
}

.accordion-container{
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    text-align: left;
}

.card {
    display: inline-block;
    width: 100%;
    max-width: 400px;
    margin: 0 0 10px 0 !important;
    color: white;
    
}

.display-moving {
    transition: all 0.5s ease-in-out;
}

.display-moving:hover {
    transform: translateX(5px);
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    transform: scale(1.05);
}



.category-box {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 10px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.favourite-box {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    background-color: rgba(255, 253, 253, 0.5);
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 50px;
    height: 50px;
}

.favourite-star {
    width: 100%;
    height: auto;
}


.img-icon {
    width: 35px; 
    height: auto;
    margin-left: 100px; 
    
}

.icon {
    width: 35px; 
    height: auto;
    margin-right: 10px; 
}

.center-50{
    width: 50% !important; 
    margin: 0 auto !important;
    padding-bottom: 100px;
    
}

.center-50 {
    width: 50% !important; 
    margin: 0 auto !important;
    padding-bottom: 100px;
}

@media (max-width: 1500px) {
    .center-50 {
        width: 60% !important;
    }
    .form-container {
        width: 55% !important;
    }
    .img-icon {
        margin-left: 60px; 
    }
}

@media (max-width: 1200px) {
    .center-50 {
        width: 65% !important;
    }
    .form-container {
        width: 60% !important;
    }
    .img-icon {
        margin-left: 40px; 
    }
}

@media (max-width: 992px) {
    .center-50 {
        width: 70% !important;
    }
    .form-container {
        width: 70% !important;
    }
    .img-icon {
        margin-left: 20px; 
    }
}

@media (max-width: 768px) {
    .center-50 {
        width: 80% !important;
    }
    .form-container {
        width: 90% !important;
    }
    .img-icon {
        margin-left: 5px !important; 
    }
}

@media (max-width: 576px) {
    .center-50 {
        width: 80% !important;
    }
    .form-container {
        width: 100% !important;
    }
    .img-icon {
        margin-left: 0px !important; 
        width: 0 !important; 
    }
}

.without-underline a{
    text-decoration: none !important;
    color: inherit !important;
}

.without-underline a:hover {
    text-decoration: none;
    color: inherit;
}

.form-container {
    width: 50%; 
    margin: 0 auto 100px auto !important; 
    padding: 20px !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
    text-align: center;
    
}

/* body {
    background-color: #ffe89d !important;
    
} */