{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block main %}
<div class="form-container">
    <h2>Edit Club</h2> 
    <hr>
    
    <form class="needs-validation" novalidate action="/edit_club" method="post" enctype="multipart/form-data">
        <input type="hidden" name="club_id" value="{{ club['id'] }}">
        
        <div class="mb-3">
            <!-- <label for="photo">Upload Photo</label> -->
            <input type="file" class="form-control-file" id="photo" name="photo">
        </div>
        <div class="mb-3">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ club['name'] }}" required>
            <div class="invalid-feedback">Please provide a name.</div>
        </div>
        <div class="mb-3">
            <label for="category">Category</label>
            <select class="form-control" id="category" name="category" required>
                <option selected>{{ club['category'] }}</option>
                {% for category in categories %}
                    {% if category != club['category'] %}
                        <option>{{ category }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <div class="invalid-feedback">Please choose a category.</div>
        </div>
        <div class="mb-3">
            <label for="goal">Goal</label>
            <textarea class="form-control" id="goal" name="goal" required>{{ club['goal'] }}</textarea>
            <div class="invalid-feedback">Please provide a goal.</div>
        </div>
        <div class="mb-3">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" required>{{ club['description'] }}</textarea>
            <div class="invalid-feedback">Please provide a description.</div>
        </div>
        <div class="mb-3">
            <label for="school">School</label>
            <input type="text" class="form-control" id="school" name="school" value="{{ club['school'] }}" required>
            <div class="invalid-feedback">Please provide a school.</div>
        </div>
        
        <button class="btn btn-primary" type="submit">Save Changes</button>
    </form>
    
  </div>
  
  <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
   </script>
{% endblock %}