{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="without-underline">
    <h2>Explore Clubs</h2> 
    <hr>
    <div class="row">
        {% for item in items %}
        <div class="col-md-4 mb-3">
            <a href="/club/{{ item['id'] }}">
                <div class="card text-white bg-dark ">
                    <div class="category-box">{{ item["category"] }}</div>
                    <img class="card-img-top" src="
                    {% if item['photo'] is none or item['photo'] == '' %}
                        {{ url_for('static', filename='files/jive-sgroup-default-portrait-large.png') }}
                    {% else %}
                        {{ url_for('static', filename='files/' + item['photo']) }}
                    {% endif %}

                    " alt="Card image cap">
                    <div class="card-body" >
                        <h5 class="card-title">{{ item["name"] }}</h5>
                        <p class="card-text">{{ item["amount"] }} fellows</p>
                        <p class="card-text"><small class="text-muted">{{ item["school"] }}</small></p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
