{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="without-underline">
    <h2>Explore All Clubs</h2> 
    <hr>
    <div class="row">
        {% for item in items %}
        <div class="col-md-4 mb-3">
            <a href="{{ url_for('club_details', slug=item['slug']) }}">
                <div class="card text-white
                    
                    {% if item['id'] in favorites %}
                        bg-orange
                    {% else %}
                        {% if item['amount'] == 1 %}
                            bg-green
                        {% else %}
                            bg-gray
                        {% endif %}
                    {% endif %}
                
                ">
                    <div class="category-box text-truncate-1-line">{{ item["category"] }}</div>
                    <img class="card-img-top" src="
                    {% if item['photo'] is none or item['photo'] == '' %}
                        {{ url_for('static', filename='files/system_pictures/jive-sgroup-default-portrait-large.png') }}
                    {% else %}
                        {{ url_for('static', filename='files/club_profile_pictures/' + item['photo']) }}
                    {% endif %}

                    " alt="Card image cap">
                    <div class="card-body" >
                        <h5 class="card-title text-truncate-1-line">{{ item["name"] }}</h5>
                        <p class="card-text text-truncate-1-line">
                            {{ item["amount"] }} 
                            {% if item["amount"] != 1 %}
                            fellows
                            {% else %}
                            fellow
                            {% endif %}
                            <small >@ {{ item["school"] }}</small>
                        </p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}