<!DOCTYPE html>
<html lang="en">

<head>

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="{{ url_for('static', filename='scripts.js') }}"></script>

{% block additional_head %}{% endblock %}

<title>Biedri App: {% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand navbar-dark bg-custom">
        <div class="container">
            <a class="navbar-brand" href="/">Biedri App</a>
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <!-- <div class="collapse navbar-collapse" id="navbarNav"> -->
                {% if session["user_id"] %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/map">
                            <img src="{{ url_for('static', filename='files/system_pictures/icons8-marker-50.png') }}" class="img-icon">
                            Map
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manage">
                            <img src="{{ url_for('static', filename='files/system_pictures/icons8-control-100.png') }}" class="img-icon">
                            User
                        </a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <!-- <img src="{{ url_for('static', filename='files/system_pictures/icons8-more-100.png') }}" class="img-icon"> -->
                            <img style="width: 0;" class="img-icon">
                            More
                        </a>
                        <div class="dropdown-menu bg-normal dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="nav-link" href="{{ url_for('profile', slug = session['slug']) }}">
                                <img src="{{ url_for('static', filename='files/system_pictures/icons8-user-24.png') }}" class="icon">
                                Profile
                            </a>
                            <a class="nav-link" href="/create">
                                <img src="{{ url_for('static', filename='files/system_pictures/icons8-create-64.png') }}" class="icon">  
                                 Create
                            </a>
                            <a class="nav-link" href="/settings">
                                <img src="{{ url_for('static', filename='files/system_pictures/icons8-settings-500.png') }}" class="icon">  
                                 Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="nav-link" href="/logout">
                                <img src="{{ url_for('static', filename='files/system_pictures/icons8-logout-64.png') }}" class="icon">  
                                 Logout
                            </a>
                        </div>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log In</a>
                    </li>
                </ul>
                {% endif %}
            <!-- </div> -->
        </div>
    </nav>
    
    <div class="center-50 mt-5 ">
        {% block main %}{% endblock %}
    </div>
</body>

</html>