{% extends "layout.html" %}

{% block additional_head %}

{% endblock %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
<div class="without-underline">
    <hr>
    {% if not joined %}
        <h4>YOU HAVE NOT JOINED A CLUB YET...</h4>
        <p>Feel free to find clubs of your interest <em><strong><a href="/">here</a></strong> </em></p> 
    {% else %}
    <h4>YOUR MEMBERSHIP IN CLUBS</h4>
    <div class="overflow-auto">
        <div class="row flex-nowrap">
            {% for club in joined %}
                <a href="/club/{{ club['slug'] }} " class="col-md-4 mb-3">
                    <div class="card text-white bg-dark">
                        <img class="card-img-top" src="
                            {% if club['photo'] is none %}
                                {{ url_for('static', filename='files/club_profile_pictures/jive-sgroup-default-portrait-large.png') }}
                            {% else %}
                                {{ url_for('static', filename='files/club_profile_pictures/' + club['photo']) }}
                            {% endif %}
                        " alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-truncate-1-line">{{ club["name"] }}</h5>
                            <p class="card-text text-truncate-1-line"><small class="text-muted ">{{ club["school"] }}</small></p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    
    <div class="manage-container">
        <hr>
        
        <div class="manage-clubs">
            
            {% if not owned %}
            <h4>YOU HAVE NOT CREATED A CLUB YET...<h4> 
            <p>Feel free to create clubs of your interest <em><strong><a href="/create">here</a></strong> </em></p> 
            {% else %} 
            <h4>YOUR LEADERSHIP IN CLUBS</h4>
                {% for club in owned %}    
                    <div class="club-row row">
                        
                        <div class="col-9 ">
                            <h5 class="card-title text-truncate-1-line">{{ club["name"] }}</h5>
                        </div>

                        <div class="col-2">
                            <form action="/members" method="post">
                                <input type="hidden" name="club" value="{{ club['id'] }}">
                                <button type="submit" class="btn btn-link">
                                    <img src="static\files\system_pictures\983470-200.png" class="img-edit">
                                </button>
                            </form>
                            
                        </div>

                        <div class="col-1">
                            <form action="/edit" method="post">
                                <input type="hidden" name="club" value="{{ club['id'] }}">
                                <button type="submit" class="btn btn-link">
                                    <img src="static\files\system_pictures\32355.png" class="img-edit">
                                </button>
                            </form>
                        </div>

                    </div>
                {% endfor %}
            {% endif %}  
        </div>
    </div>
</div>

{% endblock %}