{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}

<div class="space-below">
    
    <div class="text-center"> 
        <h2 class="title">{{club['name']}}</h2>
        <hr>
    </div>
    
    <h4 class="subtitle" >MEMBERS</h4> 
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Role</th>
                <th>Date</th>
                <th>Profile</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
                <tr>
                    <td>{{ member["name"] }}</td>
                    <td>{{ member["surname"] }}</td>
                    <td>{{ member["role"] }}</td>
                    <td>{{ member["date"] }}</td>
                    <td><a href="{{ url_for('profile', slug=member['slug']) }}">Profile</a></td>
                    <td>
                        {% if member["role"] != "leader" %}
                            <form action="/modify_members" method="post">
                                <input type="hidden" name="member_id" value="{{ member['user_id'] }}">
                                <input type="hidden" name="action" value="remove">
                                <input type="hidden" name="club" value="{{ member['club_id'] }}">
                                <button type="submit" class="btn btn-link">
                                    <img src="{{ url_for('static', filename='files/system_pictures/remove-user.png') }}" class="img-member">
                                </button>
                            </form>
                        {% else %}
                            <img src="{{ url_for('static', filename='files/system_pictures/star.png') }}" class="img-member">
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="space-below"> 
    {% if not applications %}
    <h4 class="subtitle">YOU HAVE NO PENDING APPLICATIONS...</h4>
    <hr>
    <p><em>Your club is visible for other users <strong><a href="/">here</a></strong> </em></p> 
    {% else %}
    <h4 class="subtitle">APPLICATIONS</h4>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Date</th>
                <th>Profile</th>
                <th>Accept</th>
                <th>Reject</th>
            </tr>
        </thead>
        <tbody>
            {% for application in applications %}
                <tr>
                    <td>{{ application["name"] }}</td>
                    <td>{{ application["surname"] }}</td>
                    <td>{{ application["date"] }}</td>
                    <td><a href="{{ url_for('profile', slug=application['slug']) }}">Profile</a></td>
                    <td>
                        <form action="/modify_members" method="post">
                            <input type="hidden" name="member_id" value="{{ application['app_id'] }}">
                            <input type="hidden" name="action" value="accept">
                            <input type="hidden" name="club" value="{{ application['club_id'] }}">
                            <button type="submit" class="btn btn-link">
                                <img src="{{ url_for('static', filename='files/system_pictures/accept.png') }}" class="img-member">
                            </button>
                        </form>
                    </td>
                    <td>
                        <form action="/modify_members" method="post">
                            <input type="hidden" name="member_id" value="{{ application['app_id'] }}">
                            <input type="hidden" name="action" value="reject">
                            <input type="hidden" name="club" value="{{ application['club_id'] }}">
                            <button type="submit" class="btn btn-link">
                                <img src="{{ url_for('static', filename='files/system_pictures/cross.png') }}" class="img-member">
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    
</div>
<hr>
<div class="d-flex justify-content-center">
    <form action="/delete_club" method="post" >
        <input type="hidden" name="club" value="{{ club['id'] }}">
        <button type="submit" class="btn btn-primary">
            DELETE CLUB
        </button>
    </form>
</div>

{% endblock %}