{% extends "layout.html" %}

{% block additional_head %}

{% endblock %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
<div class="without-underline">
    <div class="profile-box">    
        <div class="text-center"> 
            <h2 class="title">{{user["name"]}} {{user["surname"]}}</h2>
            <hr>
        </div>
        
        <div class="d-flex justify-content-center">    
            <div class="profile-picture-container mr-4">
                <img src="{% if user['photo'] is none %}
                                {{ url_for('static', filename='files/system_pictures/jive-sgroup-default-portrait-large.png') }}
                            {% else %}
                                {{ url_for('static', filename='files/user_profile_pictures/' + user['photo']) }}
                            {% endif %}" 
                    alt="Profile Picture" class="profile-picture">
            </div>  
            <ul>
                <li>username: {{user["username"]}}</li>
                <li>email: {{user["email"]}}</li>
                <li>region: {{user["region"]}}</li>
                <li>Student from {{user["school"]}}</li>
            </ul> 
        </div> 
    </div>

   
    
    {% if not owned %}
        <h4 class="subtitle">HASN'T LEAD A CLUB YET...</h4>
        <hr>
        <p>Feel free to create clubs of your interest <em><strong><a href="/create">here</a></strong> </em></p> 
    {% else %}
    <h4 class="subtitle">LEADER OF THESE CLUBS</h4>
    <hr>
    <div class="overflow-auto">
        <div class="row flex-nowrap">
            {% for club in owned %}
                <a href="/club/{{ club['slug'] }} " class="col-md-4 mb-3">
                    <div class="card text-white bg-display-box">
                        <img class="card-img-top" src="
                            {% if club['photo'] is none %}
                                {{ url_for('static', filename='files/system_pictures/jive-sgroup-default-portrait-large.png') }}
                            {% else %}
                                {{ url_for('static', filename='files/club_profile_pictures/' + club['photo']) }}
                            {% endif %}
                        " alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-truncate-1-line">{{ club["name"] }}</h5>
                            <p class="card-text text-truncate-1-line"><small>{{ club["school"] }}</small></p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    
    <div class="manage-container">
        
        
        <div class="manage-clubs">
            
            {% if not joined %}
            <h4 class="subtitle">HASN'T JOINED A CLUB YET...</h4> 
            <hr>
            <p>Feel free to find clubs of your interest <em><strong><a href="/">here</a></strong> </em></p> 
            {% else %} 
            <h4 class="subtitle">MEMBER OF THESE CLUBS</h4>
            <hr>
                {% for club in joined %}  
                <a href="/club/{{ club['slug'] }} ">  
                    <div class="club-row row">
                        
                        <div class="col-9 ">
                            <h5 class="card-title text-truncate-1-line">{{ club["name"] }}</h5>
                        </div>


                    </div>
                </a>
                {% endfor %}
            {% endif %}  
        </div>
    </div>
</div>

{% endblock %}