{% extends "layout.html" %}

{% block additional_head %}

{% endblock %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
<div class="without-underline">
    <h2>{{user["name"]}} {{user["surname"]}}</h2>
    <hr>
    <div class="overflow-auto">
        <div class="row flex-nowrap">
            {% for club in joined %}
                <a href="/club/{{ club['id'] }} " class="col-md-4 mb-3">
                    <div class="card text-white bg-dark h-100">
                        <img class="card-img-top" src="
                            {% if club['photo'] is none %}
                                static\files\jive-sgroup-default-portrait-large.png
                            {% else %}
                                static\{{ club['photo'] }}
                            {% endif %}
                        " alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ club["name"] }}</h5>
                            <p class="card-text"><small class="text-muted">{{ club["school"] }}</small></p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    
    <div class="manage-container">
        <h2>Manage Clubs</h2> 
        <div class="manage-clubs">
            {% for club in owned %}    
                <div class="club-row row">
                    
                    <div class="col-9">
                        <h5 class="card-title">{{ club["name"] }}</h5>
                    </div>

                    <div class="col-2">
                        <form action="/members" method="post">
                            <input type="hidden" name="club" value="{{ club['id'] }}">
                            <button type="submit" class="btn btn-link">
                                <img src="static\files\983470-200.png" class="img-edit">
                            </button>
                        </form>
                        
                    </div>

                    <div class="col-1">
                        <form action="/edit" method="post">
                            <input type="hidden" name="club" value="{{ club['id'] }}">
                            <button type="submit" class="btn btn-link">
                                <img src="static\files\32355.png" class="img-edit">
                            </button>
                        </form>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}