{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}
<form novalidate action="/settings" method="post" enctype="multipart/form-data">
    <div class="custom-file">
        <input  type="file" name="photo" class="custom-file-input" id="validatedCustomFile" required>
        <label class="custom-file-label" for="validatedCustomFile">Choose Descriptive Picture...</label>
        <div class="invalid-feedback">Please provide a descriptive picture</div>
    </div>
</form>
{% endblock %}